html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body.light {
	background-color: white;
	color: #333;
}

body.dark {
	background-color: #2a2a2a;
	color: white;
}

.container {
	margin: auto;
	width: 80%;
	max-width: 900px;
}

header {
	padding: 3rem;
	text-align: center;

	h1 {
		margin: 0;
	}
}

footer {
	padding: 3rem;
	font-size: 80%;
	color: #666;
	text-align: center;

	a {
		color: #333;
	}
}

.project-list {
	margin: 0;

	&, li {
		display: block;
		list-style: none;
		padding: 0;
	}

	li {
		margin: 1em 0;
	}

	li a {
		display: block;
		padding: 2rem 3rem;
		background-color: #f0f0f0;
		color: black;
		text-decoration: none;

		h2 {
			font-size: 160%;
			font-weight: normal;
			margin: 0;
		}

		p {
			margin: 1em 0 0 0;
		}

		&:hover {
			background-color: #d0d0d0;
		}
	}
}

.w-1 {
	width: 106px;
}

.w-2 {
	width: 212px;
}

.hidden {
	display: none;
}

#hud {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	// Click-through...
	pointer-events: none;

	& > * {
		// ...restore click behaviour
		pointer-events: auto;
	}
}

.alert {
	border: none;
	color: #fff;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}

.alert-error {
	background-color: #E74C3C;
}

.modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.window {
	background: #e0e0e0;
	position: fixed;
	display: block;
	padding: 1.6em;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

	h2 {
		text-align: center;
		margin: 0 0 0.8em 0;
	}

	.alert {
		overflow-wrap: normal;
	}
}

form {
	label {
		margin: 0.8em 0 0.4em 0;
		display: block;
	}

	input[type="text"], input[type="password"] {
		margin: 0.2em 0;
		display: block;
	}

	input[type="button"], input[type="submit"] {
		margin: 1.6em auto 0 auto;
		display: block;
	}
}

.button {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	border: none;
	color: black;
	background: #e0e0e0;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	cursor: pointer;
	user-select: none;

	&:hover {
		opacity: 0.95;
	}
}
